*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
hr{
  margin:100px 8% ;
}
:root {
  --pc: #FC8B2D;
  --sc: #A09EBB;
  --dc: #000000;
  --lc: #F4F1DE;
}
body{
  background-color: var(--dc);
  color: var(--lc);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
  background-color: var(--dc);
  font-size: 16px;
  border-bottom: solid var(--dc) 2px;
}

header .lift{
  display: flex;
  gap: 32px;
  align-items: center;
}

header .right{
  display: flex;
  gap: 20px;
  align-items: center;
}

header .lift div{
  cursor: pointer;
}

header .right div{
  cursor: pointer;
}
.logo{
  font-size: 25px;
  font-weight: 700;
}
.btn{
  background-color: var(--lc);
  border-radius: 10px;
  padding: 4px 10px;
  text-decoration: none;
  color: var(--dc);
  cursor: pointer;
  transition: opacity 0.3s;
}
.btn:hover {
  opacity: 0.8;
}
nav{
  display: flex;
  gap: 20px;
  padding: 16px 32px;
  align-items: center;
  background-color: var(--dc);
  font-size: 16px;
}
.search-bar {
  flex-grow: 1;
}
.search-bar input {
  width: 100%;
  padding: 10px;  
  border-radius: 20px;
  border: none;
  background-color: var(--lc);
  color: var(--lc);
}
.head-ar{
  padding: 20px;
}
.head-ar a{
  display: flex;
  margin-top: 20px;
  padding: 20px;
  background-color: #FC8B2D;
  width: 101px;
  height: 43px;
  align-items: center;
} 
.main {
  padding: 20px;
}
.top-section {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.image {
  flex: 1;
}
.image img {
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit:cover;
  height: 80vh;
}

.info {
  width: 40vh;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
  color: #ddd;
}

.info h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info li {
  padding: 8px;
  border-bottom: 1px solid #333;
}
.article-section h2 {
  color: #9ecbff;
}
.r-sec{
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.r-sec a{
  background-color: #FC8B2D;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
p{
  font-size: 1.5em;
  margin-bottom: 5px;
}
.one-in-row {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.one-in-row a{
  width: 100%;
} 
.article-section h2{
  font-weight: 700;
  font-size: 40px;
}
.r-btn{
  background-color: #ffaf03;
  text-decoration: none;
  color: #ffffff;
  margin-top: 5px;
}
.r-btn:hover{
  background-color: #bd6200;
  color: #000000;
  cursor: pointer;
}