*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('cartoonwallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* Makes the background move with the content */
  position: relative;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust darkness here (0.5 = 50% black) */
  z-index: -1; /* Keeps it behind content */
}



header{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
    background-color: transparent;
    font-size: 16px;
    border-bottom: solid var(--pc) 2px;
}

header .lift{
    display: flex;
    gap: 32px;
    align-items: center;
}

header .right{
    display: flex;
    gap: 20px;
    align-items: center;
}

header .lift div{
    cursor: pointer;
}

header .right div{
    cursor: pointer;
}

.logo{
    font-size: 25px;
    font-weight: 700;
}

.btn{
    background-color: var(--pc);
    border-radius: 10px;
    padding: 4px 10px;
    text-decoration: none;
    color: var(--lc);
    cursor: pointer;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

nav{
    display: flex;
    gap: 20px;
    padding: 16px 32px;
    align-items: center;
    background-color: transparent;
}



  .grid-container {
    display: grid;  /*el components elly gwa el class de squares kda*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
     /*lma yla2y msa7a byzwd column equally lw mfeesh 5las la 3shan auto,
       hy3ml kol column min 200 px */
       padding: 50px 200px;
    gap: 20px;  /*gap between cards*/
     align-items: center;
  }



  .girls, .boys , .neutral{
    position: relative;  /*3shan n7ot el absolute fo2o*/
    background-color: #37342e;
    border-radius: 10px;  
    overflow: hidden;  /*my5lesh ay haga outside el card tban*/
    transition: transform 0.3s ease;  /*tkbeer el card by7sal tdregy fe w2t 0.3 sec*/
    aspect-ratio: 2/3;  /*ratio between length and width*/
    height: 300px;
   
  }

  .girls img, .boys img, .neutral img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
    transform: scale(1.1);
  }

  .overlay {
    position: absolute; /*tt7t fo2 el card*/
    bottom: 0;
    left: 0;
    right: 0;
    /*bottom,right,left hya laz2a fehom no space*/
    background: rgba(0, 0, 0, 0.6);  /*black background with opacity .6*/
    color: #fff; 
    padding: 8px;
    text-align: center;
    opacity: 0; /*mn 8er ma a point msh hyban el klam*/
    transition: opacity 0.3s ease;
    font-size: 16px;
  }

  .girls:hover .overlay, .boys:hover .overlay , .neutral:hover .overlay {
    opacity: 1;
  }

  .girls:hover , .boys:hover , .neutral:hover {
    transform: scale(1.05); /*el card lma a point 3leh ykbr*/
  }




  .category-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%; 
    max-width: 1000px;
  }

  .category {
    flex: 1;
    height: 60px;
    background-color: #ffaf03;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  

  .category span {
    z-index: 2;
    position: relative;
    transition: color 0.3s;
  }

  .category:hover {
    transform: scale(1.05);
  }

  .category::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
    animation: floatBG 5s ease-in-out infinite;
  }

  .category:hover::before {
    opacity: 1;
  }

  .category.all::before {
    background-image: url('../Screenshot 2025-05-06 215906.png');
  }

  .category.boys::before {
    background-image: url('../Screenshot 2025-05-06 220101.png');
  }

  .category.girls::before {
    background-image: url('../Screenshot 2025-05-06 220145.png');
  }

  .category:hover span {
    color: transparent;
  }

  /* لمعة بتمر */
  .category span::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    z-index: 2;
  }
  .category-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category-bar .category {
    text-decoration: none;
  }
  
  .category-bar .category span {
    text-decoration: none;
  }
  

  @keyframes floatBG {
    0% { background-position: center; }
    50% { background-position: center 20px; }
    100% { background-position: center; }
  }
