* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  :root {
    --pc: #ff6b6b;
    --sc: #4ecdc4;
    --dc: #2E2C2F;
    --lc: #8C5E3C;
    --gh: #E07A5F;
  }

  body {
  font-family: Poppins;
  margin: 0;
  background-color: #010101;
  color: #eee;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url(../materials/ffffffff.jpeg);
  
  background-size: cover;
  height: 200vh;
}

body::-webkit-scrollbar {
  display: none;
  
}


svg {
  width: 25px;
}

header {
 width: 1200px;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 40px;
}

header .logo {
  font-weight: bold;
}

header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu a:hover {
  color: #000000;
}


.search-icon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}


  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
    background-color: #2b2b3c;
    border-radius: 50px;
    position: relative;
    top: 8%;
    
  }

  h2 {
     color:white ;
    font-size: 28px;
    margin-bottom: 10px;
    TEXT-ALIGN: center;
   
  }

  p {
    margin-bottom: 20px;
    color: var(--dc);
  }

  form input, form select, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form .row {
    display: flex;
    gap: 20px;
  }

  form .row input {
    flex: 1;
  }

  form button {

    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    background: linear-gradient(45deg, #1c3366, #b55aea);
color: #ffffff;
  }

  form button:hover {
    background-color: var(--gh);
  }

  form label {
    display: block;
    margin-top: 10px;
    font-size: 0.95em;
  }

  form a {
    color: var(--sc);
    text-decoration: none;
  }

  form a:hover {
    text-decoration: underline;
  }

  .contact-info {
    margin-top: 40px;
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #1c3366 ;
    border-radius: 5px;
  }

  .contact-info h3 {
    color: var(--dc);
    margin-bottom: 10px;
  }

  .contact-info a {
    color: var(--gh);
    text-decoration: none;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }