*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    

  }
  section{
    scroll-snap-align: start;
    height: 100vh;
    position: relative
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body{
      font-family: Poppins;
      margin: 0;
      background-color: #010101;
      color: #eee;
      overflow-y: scroll; /* تخلي التمرير شغال */
      overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    display: none; Chrome & Safari
  }

  
  svg{
      width: 25px;
  }
  header{
      width: 1200px;
      max-width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 50px 1fr 50px;
      grid-template-rows: 50px;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
  }
  header .logo{
      font-weight: bold;
  }
  header .menu{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 20px;
      font-weight: 500;
  }

  .menu a {
    color: white;          
    text-decoration: none; 
    transition: color 0.5s ease;
  }

  .menu a:hover {
    color: #bd53b9;
   }
  
   .search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
  }
  
  .search-input {
    width: 0;
    opacity: 0;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #514d4d;
    border-radius: 20px;
    transition: width 0.3s ease, opacity 0.5s ease;
    background-color: rgb(42, 40, 40);
    color: rgb(120, 118, 118);
  }
  
  .search.show .search-input {
    width: 180px;
    opacity: 1;
  }
  
  /* css slider */
  .slider{
      height: 100vh;
      margin-top: -50px;
      position: relative;
  }
  .slider .list .item{
      position: absolute;
      inset: 0 0 0 0;
      overflow: hidden;
      opacity: 0;
      transition: .5s;
  }
  .slider .list .item img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .slider .list .item::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(
          to top, #000 20%, transparent
      );
  }
  .slider .list .item .content{
      position: absolute;
      left: 10%;
      top: 20%;
      width: 500px;
      max-width: 80%;
      z-index: 1;
  }
  .slider .list .item .content p:nth-child(1){
      text-transform: uppercase;
      letter-spacing: 10px;
  }
  .slider .list .item .content h2{
      font-size: 100px;
      margin: 0;
  }
  .slider .list .item.active{
      opacity: 1;
      z-index: 10;
  }
  @keyframes showContent {
      to{
          transform: translateY(0);
          filter: blur(0);
          opacity: 1;
      }
  }
  .slider .list .item.active p:nth-child(1),
  .slider .list .item.active h2,
  .slider .list .item.active p:nth-child(3){
      transform: translateY(30px);
      filter: blur(20px);
      opacity: 0;
      animation: showContent .5s .7s ease-in-out 1 forwards;
  }
  .slider .list .item.active h2{
      animation-delay: 1s;
  }
  .slider .list .item.active p:nth-child(3){
      animation-duration: 1.3s;
  }
  .arrows{
    position: absolute;
    top: 71%;
    left: 260px;
    z-index: 100;
    align-items: center;
    align-content: center;
    display: flex
;
    justify-content: center;
    gap: 20px;;
  }
  .arrows button{
      background-color: #eee5;
      border: none;
      font-family: monospace;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      font-size: x-large;
      color: #eee;
      transition: .5s;
  }
  .arrows button:hover{
      background-color: #eee;
      color: black;
  }
  .thumbnail{
      position: absolute;
      bottom: 50px;
      z-index: 11;
      display: flex;
      gap: 10px;
      width: 100%;
      height: 250px;
      padding: 0 50px;
      box-sizing: border-box;
      overflow: auto;
      justify-content: center;
      left: 250px;
  }
  .thumbnail::-webkit-scrollbar{
      width: 0;
  }
  .thumbnail .item{
      width: 150px;
      height: 220px;
      filter: brightness(.5);
      transition: .5s;
      flex-shrink: 0;
  }
  .thumbnail .item img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
  }
  .thumbnail .item.active{
      filter: brightness(1.5);
  }
  .thumbnail .item .content{
      position: absolute;
      inset: auto 10px 10px 10px;
  }
  @media screen and (max-width: 678px) {
      .thumbnail{
          justify-content: start;
      }
      .slider .list .item .content h2{
          font-size: 60px;
      }
      .arrows{
          top: 10%;
      }
  }

  

  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */






  .stack-area {
    width: 100%;
    height: 300vh;
    position: relative;
    background:black;
    display: flex;
    margin-top: -50;
  }
  
  /* الجزء الشماللللللللللللللللل*/
  .left {
    height: 100vh;
    flex-basis: 50%;
    position: sticky; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .title {
    width: 420px;
    font-size: 84px;
    font-family: poppins;
    font-weight: 700;
    line-height: 88px;
    color: aliceblue;
  }
  
  .sub-title {
    width: 420px;
    font-family: poppins;
    font-size: 14px;
    margin-top: 30px;
    color: aliceblue;
  }
  
  .sub-title button {
    font-family: poppins;
    font-size: 14px;
    padding: 15px 30px;
    background: white;
    color: black;
    border-radius: 8mm;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.7s  cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .sub-title button:hover {
    background: #d697db;  
    transform: scale(1.06); 
  }
   
  /* الجزء اليمينننننننننننننننننننننن*/
  .right {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .image-card {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin-bottom: 10px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    transition: 0.5s ease-in-out;
    overflow: hidden;
  }
  
  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 25px;
  }
  
  /* تنسيق التأثيرات على الكروت */
  .away {
    transform-origin: bottom left;
  }
  
.three{
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #eb7680;
    align-items: center;
}
.arti-l video{
  position: relative;
  height: 100vh;
  display: flex
;
}
.arti-r{

    height: 60%;
    width: 80%;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    left: -5%;
    transform: translateX(100px);
 
    opacity: 0;
    animation: showContent .7s .10s ease-in-out 1 forwards;

}
.colom{
  width: 43%;
  background-color: #496b5a;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 17px 20px 4px rgba(0, 0, 0, 0.1);
  border-right: #f2b21a solid 12px;
}
.colom h1{
    padding: 10px;
    font-weight:  200 ;
}
.content2{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    height: 80px;
transition: ease 0.5s;
margin-bottom: -6px;
    
}
.content2:hover{
    transform: scale(1.1);
    color: #ffaf03;
    background-color: #1c1c1c;
}
.content2 img{
    width: 50px;
    height: 65px;
    object-fit: cover;
    border-radius: 5px;
}
.content2 .kalam{
  gap: 3px;
  display: flex;
  flex-direction: column;
}
.desc{
  font-size: 8px;
}

.two{
  height: 250vh;
}

  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */
  /* 000000000000000000000000 */

.four{
background-color: #496b5a;

}
.four img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
}
.four .top{
  width: 66%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  z-index: 80;
  right: 34%;
}


  .scroll-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    top: 40%;
    z-index: 50;
  }
  
  .horizontal-wrapper {
    display: flex;
    animation: scroll-left 15s linear infinite; /* الحركة اللانهائية */
  }
  
  
  .slider-item {
    flex: 0 0 auto;
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    color: #333;
    align-items: center;
    justify-content: center;
    display: flex
;
  }

  .slider-item img{
    object-fit: fill;
    width: 200px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

  }
  
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-60%); 
    }
  }
  




/* online sectionnnnnnnnnnnnnnnnnnnnnnnnnnn */
.game-section {
  max-width: 100%;
  margin: 50px 0; 
  padding: 40px 50px; 
  text-align: center;
  position: relative;
  margin-bottom: 70px;
  background-color: aquamarine;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}

.section-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}


.game-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* العناصر تبقى ليها نفس الارتفاع */
  gap: 20px;
}

.game-card {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 350px; 
  display: flex;
}
.game-card .name {
  font-size: 80px;
  font-weight: 700;
}
.game-card img {
  width: 100%;
  height: 100%;
}

.game-card:hover {
  transform: scale(1.02);
  border: 1px solid #d864d4;
  box-shadow: 0 0 10px #00f0ff44;
}

/* الكروت الكبيرة يمين وشمال */
.game-card.large {
  flex: 0 0 30%; /* كل واحدة 30% من المساحة */
  height: 350px;
}

.game-card.large img {
  height: 100%;
  object-fit: fill;
}

/* الي في النص */
.middle-grid {
  flex: 0 0 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 115px); 
  gap: 10px;
}

.middle-grid .game-card {
  height: 115px;
}

.middle-grid .game-card img {
  height: 100%;
  object-fit: fill;
}


.see-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d864d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

