* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.horizontal-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #deb6b6;
}

.slider-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  /* أخفي البار بتاع السكرول */
  scrollbar-width: none;           /* Firefox */
}
.slider-wrapper::-webkit-scrollbar {
  display: none;                   /* Chrome + Safari */
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #1f112a;
}

.image-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 90%;
  height: 80%;
}

.image-text img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 1s ease-in-out; /* جعل ظهور الصور تدريجي */
}


.image-text img.visible {
  opacity: 1;
}


.text {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #f1d1f3;
}

.text p {
  font-size: 1.4rem;
  color:  #f1d1f3;
  line-height: 1.6;
}

/* أزرار السلايدر */
.slider-buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  gap: 20px;
  text-align: center;

}

.slider-buttons button {
  background-color: rgba(253, 192, 249, 0.932);
  color: rgb(26, 22, 31);
  border: none;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  width: 33px;
  height: 35px;
}


.slider-buttons button:hover {
  background-color: rgba(247, 196, 255, 0.8); 
  transform: scale(1.1); 
  transition: transform 0.8s ease, background-color 0.4s ease; 
}
