* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F
}

body {
    background-color: var(--dc);
    color: var(--lc);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
    background-color: #1c1c1c;
    font-size: 16px;
    border-bottom: solid var(--pc) 2px;

}

header .lift {
    display: flex;
    gap: 32px;
    align-items: center;


}

header .right {
    display: flex;
    gap: 20px;
    align-items: center;


}

header .lift div {
    cursor: pointer;


}

header .right div {

    cursor: pointer;

}

.logo {
    font-size: 25px;
    font-weight: 700;

}

.btn {
    background-color: #ffaf03;
    border-radius: 10px;
    padding: 4px 10px;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 20px;
    padding: 16px 32px;
    align-items: center;
    background-color: #1c1c1c;
    font-size: 16px;


}

.search-bar {
    flex-grow: 1;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

h1 {
    margin-top: 10px;
    font-size: 3em;
    text-align: center;

}


.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
}

.container {
    width: 60%;
    height: 350px;
    background-color: #1c1c1c;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.container:hover {
    transform: scale(1.1);
    transition: 0.8s ease;
}

.image {
    width: 50%;
    background-size: cover;
    background-position: center;
}

.product {
    width: 50%;
    background-color: #121212;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
}

#p1,
#p2,
#p3,
#p4 {
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: bold;
}

#name {
    color: #0f96e4;
}

#price {
    color: #e72525;
}

.action {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.quantity-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background: white;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.btn2 {
    background-color: #d2d427;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 50%;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.8s;
}


.btn2:hover {
    background-color: #ffaf03;
    transform: scale(1.1);
}

@media (max-width: 768px) {

    /* byzbt el shakl 3la kol el devices */
    .container {
        width: 90%;
        flex-direction: column;
        height: auto;
    }

    .image {
        width: 100%;
        height: 200px;
    }

    .product {
        width: 100%;
    }

    .action {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn2 {
        width: 100%;
    }
}