*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F
}
body {
  font-family: Poppins;
  margin: 0;
  background-color: #010101;
  color: #eee;
  overflow-y: scroll;

  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  
}

svg {
  width: 25px;
}

header {
width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 20px 40px;
  background-color: rgb(35, 56, 40);
}
header .logo {
  font-weight: bold;
}

header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}


.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #514d4d;
  border-radius: 20px;
  transition: width 0.3s ease, opacity 0.5s ease;
  background-color: rgb(42, 40, 40);
  color: rgb(120, 118, 118);
}

.search.show .search-input {
  width: 180px;
  opacity: 1;
}

  .games-cards{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;

  }

  .game1{
    display: flex;
    justify-content:left;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
  }
  .game1 img{
    width: 405px;
    flex: 90%;
  }
  .game1:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .column{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }


  .game2{
    display: flex;
    justify-content:left;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;


  }
  .game2 img{
    width: 200px;
    flex: 75%;
  }
  .game2:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

   .game3{
    width: 200px;
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game3 img{
    width: 205px;
   }
   .game3:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game4{
    display: flex;
    justify-content:left;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

   .game4:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game4 img{
    width: 256px;
    flex: 75%;
  }
  .game5{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game5 img{
    width: 173px;
   }
   .game5:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
 
  .game6{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game6 img{
    width: 180px;
   }
   .game6:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game7{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game7 img{
    width: 180px;
   }
   .game7:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .games-cards2{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
  }

  .game8{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game8 img{
    width: 200px;
   }
   .game8:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game9{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game9 img{
    width: 200px;
   }
   .game9:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game10{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game10 img{
    width: 200px;
   }
   .game10:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game11{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game11 img{
    width: 200px;
   }
   .game11:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game12{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game12 img{
    width: 180px;
   }
   .game12:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game13{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game13 img{
    width: 115px;
   }
   .game13:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game14{
    display: flex;
    margin-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game14 img{
    width: 170px;
    height: 110px;
   }
   .game14:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .games-cards3{
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px ;
    margin-bottom: 10px ;
    justify-content: center;
    align-items: flex-start;

  }

  .game15{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game15 img{
    width: 200px;
   }
   .game15:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game16{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game16 img{
    width: 200px;
   }
   .game16:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game17{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game17 img{
    width: 200px;
    height: 152px;
   }
   .game17:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game18{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game18 img{
    width: 230px;
   }
   .game18:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game19{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game19 img{
    width: 230px;
    height: 147px;
   }
   .game19:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game20{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game20 img{
    width: 200px;
    height: 123px;
   }
   .game20:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game21{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game21 img{
    width: 200px;
    height: 146px;
   }
   .game21:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game22{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game22 img{
    width: 218px;
   }
   .game22:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game23{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game23 img{
    width: 220px;
    height: 145px;
   }
   .game23:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game24{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game24 img{
    width: 220px;
    height:275px;
   }
   .game24:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game-cards4{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;

  }
  .game25{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
   }
   .game25 img{
    width: 150px;
    height: 145px;
   }
   .game25:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .games-cards5{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
  }
  .game26{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game26 img{
    width: 180px;
    height:200px;
   }
   .game26:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game27{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game27 img{
    width: 115px;
    height: 200px;
   }
   .game27:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game28{
    display: flex;
    margin-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game28 img{
    width: 170px;
    height: 200px;
   }
   .game28:hover{
    transform: scale(1.03);
    transition: 0.7s ease;
  }
  .game29{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game29 img{
    width: 200px;
    height: 280px;
   }
   .game29:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  
  .game30{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game30 img{
    width: 200px;
    height: 120px;
   }
   .game30:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game31{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game31 img{
    width: 200px;
    height: 280px;
   }
   .game31:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game32{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game32 img{
    width: 220px;
    height: 130px;
   }
   .game32:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .show-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
  }
  
  .show-on-scroll.visible {
    opacity: 1;
    transform: none;
  }
  
 
  
  
 
 
 
 
 
 
 
 