*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
  font-family: Poppins;
  margin: 0;
  background-color: #010101;
  color: #eee;
  overflow-y: scroll;
  /* تخلي التمرير شغال */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  
}

header {
 width: 1500px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 40px;

}

header i {
  position: absolute;
  left: 2%;
  font-size: 22px;
  color: #ffaf03;
}

header .logo {
  font-weight: bold;
  font-size: 25px;
}

header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu a:hover {
  color: #000000;
}


/* زر القائمة */
.menu-container {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    background: transparent; 
    color: #506955;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.menu-button i {
    font-size: 20px;
}

/* القائمة المنسدلة */
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: -34px;
    background: rgba(0, 0, 0, 0.5); /* خلفية شفافة */
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0.5) translateY(-20px);
    transition: transform 0.3s ease, opacity 0.2s ease;
    opacity: 0;
    width: 142px;
    height: 148px;

}

.dropdown-content.show {
    display: block;
    transform: scale(1) translateY(0);
    opacity: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
        color: #fff;
    padding: 10px 0 5px 30px;
    text-decoration: none;
    display: flex
;
    align-items: center;
}

  .games-cards{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;

  }

  h1{
      justify-content: center;
    font-weight: 800;
    display: flex
;
    color: rgb(96, 124, 103);
    margin-bottom: 85px;
    font-family: "Roboto", sans-serif;
    margin-top: 92px


  }

  .game1{
    display: flex;
    justify-content:left;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
  }
  .game1 img{
    width: 405px;
    flex: 90%;
  }
  .game1:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .column{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }


  .game2{
    display: flex;
    justify-content:left;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;


  }
  .game2 img{
    width: 200px;
    flex: 75%;
  }
  .game2:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

   .game3{
    width: 200px;
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game3 img{
    width: 205px;
   }
   .game3:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game4{
    display: flex;
    justify-content:left;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }

   .game4:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game4 img{
    width: 256px;
    flex: 75%;
  }
  .game5{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game5 img{
    width: 173px;
   }
   .game5:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
 
  .game6{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game6 img{
    width: 180px;
   }
   .game6:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game7{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game7 img{
    width: 180px;
   }
   .game7:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .games-cards2{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
  }

  .game8{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game8 img{
    width: 200px;
   }
   .game8:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game9{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game9 img{
    width: 200px;
   }
   .game9:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game10{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game10 img{
    width: 200px;
   }
   .game10:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game11{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game11 img{
    width: 200px;
   }
   .game11:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game12{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game12 img{
    width: 180px;
   }
   .game12:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game13{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game13 img{
    width: 115px;
   }
   .game13:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game14{
    display: flex;
    margin-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game14 img{
    width: 170px;
    height: 110px;
   }
   .game14:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .games-cards3{
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px ;
    margin-bottom: 10px ;
    justify-content: center;
    align-items: flex-start;

  }

  .game15{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game15 img{
    width: 200px;
   }
   .game15:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game16{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game16 img{
    width: 200px;
   }
   .game16:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game17{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game17 img{
    width: 200px;
    height: 152px;
   }
   .game17:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game18{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game18 img{
    width: 230px;
   }
   .game18:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game19{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game19 img{
    width: 230px;
    height: 147px;
   }
   .game19:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game20{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game20 img{
    width: 200px;
    height: 123px;
   }
   .game20:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game21{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game21 img{
    width: 200px;
    height: 146px;
   }
   .game21:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game22{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game22 img{
    width: 218px;
   }
   .game22:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game23{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game23 img{
    width: 220px;
    height: 145px;
   }
   .game23:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game24{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game24 img{
    width: 220px;
    height:275px;
   }
   .game24:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game-cards4{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;

  }
  .game25{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
   }
   .game25 img{
    width: 150px;
    height: 145px;
   }
   .game25:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .games-cards5{
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: flex-start;
  }
  .game26{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game26 img{
    width: 180px;
    height:200px;
   }
   .game26:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game27{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game27 img{
    width: 115px;
    height: 200px;
   }
   .game27:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  .game28{
    display: flex;
    margin-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game28 img{
    width: 170px;
    height: 200px;
   }
   .game28:hover{
    transform: scale(1.03);
    transition: 0.7s ease;
  }
  .game29{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game29 img{
    width: 200px;
    height: 280px;
   }
   .game29:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  
  .game30{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game30 img{
    width: 200px;
    height: 120px;
   }
   .game30:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game31{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game31 img{
    width: 200px;
    height: 280px;
   }
   .game31:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }
  .game32{
    display: flex;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: left;
    border-radius: 10px;
   }
   .game32 img{
    width: 220px;
    height: 130px;
   }
   .game32:hover{
    transform: scale(1.03);
    transition: 0.7s ease;

  }

  /* footer sectionnnnnnn */
.footer {
  background-color: #1b1b1b;
  padding: 20px 40px;
  width: 100vw;
    background-color: #1b1b1b;
    padding: 20px 40px;
    width: 100vw;
    position: relative;
    top: 60%;
}

.footer img{
   width: 100%;
    height: 266%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    bottom: -6%;
    right: 0px;
}
.footer-top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-us {
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: -85px;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;   
  color: white;             
  border: 1.5px solid #444; 
  text-decoration: none;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  margin-top: 50px;
  margin-bottom: -30px;
}

.social-icon:hover {
  filter: brightness(120%);  
  box-shadow: 0 4px 10px rgba(200, 200, 200, 0.6);
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #555;
  margin: 20px 0;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
}

.footer-links-bottom {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.footer-links-bottom a {
  margin-top: 100px;
  color: #999;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  margin-top: 120px;
}

.footer-links-bottom a:hover {

  color: #fff;

  color: #fff;

}

  .show-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
  }
  
  .show-on-scroll.visible {
    opacity: 1;
    transform: none;
  }
  
 
  
  
 
 
 
 
 
 
 
 