* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F;
}

body {
    background-color: var(--dc);
    color: var(--lc);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;



}


header {

    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
    background-color: #1c1c1c;
    font-size: 16px;
    border-bottom: solid var(--pc) 2px;

}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 70vh;
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 15px;

}

.l-sec {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.l-sec img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.r-sec {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 10px;
    height: 95%;
    width: 30%;
    background-color: #1c1c1c;
}

.big-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.sm-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;

}

.big-btn a {

    background-color: #ffaf03;
    color: white;
    height: 30px;
    text-decoration: none;
    border-radius: 7px;
    text-align: center;
    padding-top: 7px;
}

.sm-btn a {

    background-color: #ffaf03;
    color: white;
    height: 30px;
    text-decoration: none;
    border-radius: 7px;
    text-align: center;
    width: 50%;
    text-align: center;
    padding-top: 7px;
}

a:hover {
    background-color: #8f6304;
    transform: scale(1.1);
    transition: transform 0.3s ease, background-color 0.3s ease;

}

hr {
    border: none;
    height: 2px;
    background-color: #ffaf03;
}

#about {

    margin: 15px;
    font-size: larger;
    line-height: 30px;
}

.info {

    margin: 5px 15px;
    font-size: larger;
    line-height: 30px;
}