* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F;
}

body {
    font-family: "Poppins", "Arial", sans-serif;
    background: #000000;
    width: 100%;
    height: 200%;
    color: #eee;
    overflow-y: scroll;
    /* تخلي التمرير شغال */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}



header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 40px;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
}


header i {
    position: absolute;
    left: 3%;
    font-size: 22px;
    color: #ffaf03;
}

header .logo {
    position: absolute;
    left: 4.8%;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

header .middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    margin-right: 100px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.menu a:hover {
    color: #ffaf03;
}

.menu-container {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.menu-button {
    background: transparent;
    color: #fff;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-button:hover {
    transform: scale(1.1);

}

.menu-button i {
    font-size: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: -34px;
    background: rgba(0, 0, 0, 0.5);

    border-radius: 8px;

    z-index: 999;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0.5) translateY(-20px);
    transition: transform 0.3s ease, opacity 0.2s ease;
    opacity: 0;
    width: 160px;
    height: 200px;

}

.dropdown-content.show {
    display: block;
    transform: scale(1) translateY(0);
    opacity: 1;
}

.dropdown-content a {
    position: relative;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;

    padding: 10px 0 5px 30px;
}



.dropdown-content a:hover {
    background: rgba(102, 66, 19, 0.633);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}


/*hoooomeeeee*/


h1 {
    margin-left: 80px;
    padding-bottom: 10px;
    text-shadow: 0px 0px 5px #3c61e5, 0px 0px 5px #3c61e5;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
}

.item {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 150px;
    pointer-events: auto;
}

.item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: left;
    font-weight: 600;
}

h2 {
    margin-top: 150px;

    margin-left: 80px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px #3c61e5, 0px 0px 5px #3c61e5;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
}


.info {

    margin-left: 30px;
    font-size: 20px;
    margin-top: 10px;

}

.item-img {
    position: absolute;
    width: 350px;
    height: 300px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.big-btn {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    cursor: pointer;


}

.btn2 {

    color: #d7d9e4;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 3px;
}

.big-btn a {
    margin-top: 10px;
    background-color: rgb(96, 123, 221);
    color: white;
    height: 80px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
}

.fancy-button {
    position: relative;
    z-index: 100000;
    width: 400px;
    height: 100%;
    background: #282623;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.fancy-button .btn2 {
    z-index: 1;
    position: relative;
    color: #fff;
    font-weight: bold;


}

/* Wave */
.fancy-button .wavewhite {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    background: url(../../HTML/wave.svg);
    background-size: 200% 100%;
    animation: wave 2s linear infinite;
    transition: 0.7s;
    opacity: 0.7;
    top: 100%;
    pointer-events: none;
    /* 🛠️ ده اللي بيحل المشكلة */
}


.fancy-button:hover {
    transform: translateY(-4px);
}

.fancy-button:hover .wavewhite {
    top: 50%;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 200%;
    }
}

@media(max-width:900px) {
    h2 {
        font-size: 15px;
        margin-left: 0px;
    }

    .item-text {
        font-size: 10px;

    }

    .item-img {
        width: 225px;
        height: 125px;
    }
}