* {
    margin: 0;
    padding: 0;

}

:root {
    --pc: #ffaf03;
    --sc: #1c1c1c;
    --dc: #121212;
    --lc: #ffffff;
    --gh: #E07A5F;
}

body {
    font-family: "Poppins", "Arial", sans-serif;
    background: url(background.jpg);
    color: #eee;
    overflow-y: scroll;
    /* تخلي التمرير شغال */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}



header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 40px;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
}


header i {
    position: absolute;
    left: 3%;
    font-size: 22px;
    color: #ffaf03;
}

header .logo {
    position: absolute;
    left: 4.8%;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

header .middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    margin-right: 100px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.menu a:hover {
    color: #ffaf03;
}

.menu-container {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.menu-button {
    background: transparent;
    color: #fff;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-button:hover {
    transform: scale(1.1);

}

.menu-button i {
    font-size: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: -34px;
    background: rgba(0, 0, 0, 0.5);

    border-radius: 8px;

    z-index: 999;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0.5) translateY(-20px);
    transition: transform 0.3s ease, opacity 0.2s ease;
    opacity: 0;
    width: 160px;
    height: 200px;

}

.dropdown-content.show {
    display: block;
    transform: scale(1) translateY(0);
    opacity: 1;
}

.dropdown-content a {
    position: relative;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;

    padding: 10px 0 5px 30px;
}



.dropdown-content a:hover {
    background: rgba(102, 66, 19, 0.633);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}


/*hoooomeeeee*/


h1 {
    margin-left: 20px;
    padding-bottom: 10px;
    text-shadow: 0px 0px 5px #3c61e5, 0px 0px 5px #3c61e5;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
}

.item {
    position: relative;
    width: 100%;
    height: 300px;
    /* margin-bottom: 100px; */
    margin-top: 150px;
    pointer-events: auto;
}

.item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: left;
    font-weight: 600;
}

.info {

    margin-left: 30px;
    font-size: 20px;
    margin-top: 10px;

}

.item-img {
    position: absolute;
    width: 350px;
    height: 300px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.big-btn {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 10px;
    padding: 20px;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    cursor: pointer;


}

.btn2 {

    color: #d7d9e4;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 3px;
}

.big-btn a {
    margin-top: 10px;
    background-color: rgb(96, 123, 221);
    color: white;
    height: 80px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
}

.fancy-button {
    position: relative;
    z-index: 100000;
    width: 400px;
    height: 100%;
    background: #282623;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.fancy-button .btn2 {
    z-index: 1;
    position: relative;
    color: #fff;
    font-weight: bold;


}

/* Wave */
.fancy-button .wavewhite {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    background: url(../../HTML/wave.svg);
    background-size: 200% 100%;
    animation: wave 2s linear infinite;
    transition: 0.7s;
    opacity: 0.7;
    top: 100%;
    pointer-events: none;
    /* 🛠️ ده اللي بيحل المشكلة */
}


.fancy-button:hover {
    transform: translateY(-4px);
}

.fancy-button:hover .wavewhite {
    top: 50%;
}

@keyframes wave {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 200%;
    }
}

.footer {
    background-color: #1b1b1b;
    padding: 20px 40px;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.footer-top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.contact-us {
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: -85px;
    position: relative;
    z-index: 2;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: 1.5px solid #444;
    text-decoration: none;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    margin-top: 50px;
    margin-bottom: -30px;
}

#facebook:hover {
    filter: brightness(120%);
    box-shadow: 0 4px 10px rgba(16, 37, 223, 0.801);
    background-color: #1431b4;
}

#instagram:hover {
    filter: brightness(120%);
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    box-shadow: 0 4px 10px #cc2366;
}

#twitter:hover {
    filter: brightness(120%);
    box-shadow: 0 4px 10px rgba(117, 126, 126, 0.801);
    background-color: #171718;
}

#discord:hover {
    filter: brightness(120%);
    box-shadow: 0 4px 10px #723cf0;
    background-color: #723cf0;
}

#youtube:hover {
    filter: brightness(120%);
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.801);
    background-color: #ff0000;
}


.footer-line {
    width: 100%;
    height: 1px;
    background-color: #555;
    margin: 20px 0;
    position: relative;
    z-index: 2;
}

.footer-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    bottom: 40px;
    right: 0px;
    left: 58%;
    z-index: 1;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 590px;
    position: relative;
    z-index: 2;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    /* Needed for transform to work */
    transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #91a6f0;
    transform: translateX(5px);
    transition: all 0.3s ease;
    text-decoration: none;
}

.footer-links-container {
    margin-right: 50px;
    position: relative;
    z-index: 3;
    /* Higher than the image */
    width: 100%;
}

.footer-links-bottom {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    z-index: 3;
    /* Higher than the image */
}

.footer-links-bottom a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    padding: 5px 10px;
}

.footer-links-bottom a:hover {
    color: #91a6f0;
    text-decoration: none;
}

.social-icon-container {
    margin-right: 60px;
    padding-top: 30px;
}

.logo-link {
    color: #fff;
    text-decoration: none;
}

@media(max-width:900px) {
    h2 {
        font-size: 15px;
        margin-left: 0px;
    }

    .item-text {
        font-size: 10px;

    }

    .item-img {
        width: 225px;
        height: 125px;
    }
}