* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

:root {
  --pc: #ffaf03;
  --sc: #1c1c1c;
  --dc: #121212;
  --lc: #ffffff;
  --gh: #E07A5F;
}

body {
  font-family: Poppins;
  margin: 0;
  background: linear-gradient(135deg, #0d0d0d, #2b2b2b, #4d4d4d);
  color: #eee;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;

}

svg {
  width: 25px;
}

header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 20px 40px;

}

header .logo {
  font-weight: bold;
}

header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

.menu a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}


.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 5px 40px;
  font-size: 14px;
  border: 1px solid #514d4d;
  border-radius: 20px;
  transition: width 0.3s ease, opacity 0.5s ease;
  background-color: rgb(42, 40, 40);
  color: rgb(120, 118, 118);
}

.search.show .search-input {
  width: 180px;
  opacity: 1;
}

h1 {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 0px;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 70vh;
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 15px;

}

.l-sec {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.l-sec img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.r-sec {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 10px;
  height: 95%;
  width: 30%;
  background-color: #2b2b2b;
}

.big-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.copy-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;

}

.big-btn a {

  background-color: #ffaf03;
  color: white;
  height: 30px;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  padding-top: 5px;
}

.copy-btn a {

  background-color: #ffaf03;
  color: white;
  height: 30px;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}

#copyBtn.copied {
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s ease;
}



hr {
  border: none;
  height: 2px;
  background-color: #ffaf03;
}

#about {

  margin: 15px;
  font-size: larger;
  line-height: 30px;
}

.info {

  margin: 5px 15px;
  font-size: larger;
  line-height: 30px;
}

h2 {
  padding: 20px;
}


.fancy-button {
  position: relative;
  width: 370px;
  height: 60px;
  background: #282623;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.fancy-button .btn2 {
  z-index: 1;
  position: relative;
  color: #fff;
 font-weight: bold;
 
 
}

/* Wave */
.fancy-button .wavewhite {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: url(../../HTML/wave.svg);
  background-size: 200% 100%;
  animation: wave 2s linear infinite;
  
  transition: 0.7s;
  opacity: 0.7;
  top: 100%;
}

.fancy-button:hover {
  transform: translateY(-4px);
}

.fancy-button:hover .wavewhite {
  top: 50%;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 200%;
  }
}